<div class="hero-dashboard">
   <app-hero-search
    (onHeroSearched)="showPopup($event)"
   ></app-hero-search>

  <h2>Top Heroes</h2>

  <!-- <div class="heroes-menu">
  <a *ngFor="let hero of heroes" routerLink="/detail/{{ hero.id }}">
    {{ hero.name }}
  </a>
</div> -->

  <dx-sortable
    itemOrientation="horizontal"
    handle=".hero-container"
    (onReorder)="onHeroReorder($event)"
  >
    <a
    class="hero-container"
    *ngFor="let hero of heroes"
    (click)="showPopup(hero)"
    >
      {{ hero.name }}
    </a>
  </dx-sortable>
</div>

<app-popup
  *ngIf="selectedHero && popupVisible"
  [selectedHero]="selectedHero"
  [popupVisible]="popupVisible"
  [wantToAddNewHero]="wantToAddNewHero"
  (onPopupHidden)="hidePopupHero($event)"
></app-popup>
