<h2>My Heroes</h2>

<!--<ul class="heroes">-->
<!--  <li-->
<!--    *ngFor="let hero of heroes"-->
<!--  >-->
<!--&lt;!&ndash;    <a routerLink="/detail/{{hero.id}}">&ndash;&gt;-->
<!--    <a (click)="showPopupToEdit(hero)">-->
<!--      <span class="badge">-->
<!--      {{hero.id}}-->
<!--    </span>-->
<!--      {{hero.name}}-->
<!--    </a>-->
<!--    <button-->
<!--      class="delete"-->
<!--      title="delete hero"-->
<!--      (click)="delete(hero)"-->
<!--    >x</button>-->
<!--  </li>-->
<!--</ul>-->

<div class="button-container">
  <dx-button
    stylingMode="contained"
    text="Add Hero"
    type="default"
    [width]="120"
    (onClick)="showPopupToInsert()"
  ></dx-button>
</div>

<app-hero-grid
  [heroes]="heroes"
  (onDelete)="deleteHero($event)"
></app-hero-grid>
